<div class="container">
    <img [src]="food.imageUrl" [alt]=" food.name" />

<div class="details">
    <div class="header">
        <span class="name">
            {{food.name}}
        </span>
        <span class="favorite  {{food.favorite?'':'not'}}">
            ♥️
        </span>
    </div>


    <div class="origins">
        <span *ngFor="let origin of food.origins">
            {{origin}}

        </span>
    </div>

    <!-- <div class="tags">
        <app-tags></app-tags>
    </div> -->

    <div class="cook-time">
        <span>
            Time To Cook About <strong>{{food.cookTime}}</strong> minutes
        </span>
    </div>

    <div class="price">
        <span>{{food.price}}</span>
    </div>
    

    <button>Add To Cart</button>

</div>    
</div>